<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: 2024 Lady <https://www.ladys.computer/about/#lady>
SPDX-License-Identifier: CC-BY-SA-4.0

This document is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.
To view a copy of this license, visit <https://creativecommons.org/licenses/by-sa/4.0/>.
-->
<article xmlns="http://www.w3.org/1999/xhtml" xmlns:Awoo="urn:fdc:awoo.directory:20240501:ns" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:书社="urn:fdc:ladys.computer:20231231:Shu1She4">
	<meta itemprop="urn:fdc:ladys.computer:20231231:Shu1She4:title" content="Welcome! | the.awoo.directory"/>
	<h1>Welcome!</h1>
	<p>
		<dfn><Awoo:sitename/></dfn> aims to be a directory and organizing locus for a certain subset of lesbian, trans, and/or furry culture on the Web.
		We hope for this to be a counterpoint to male&#x2010;dominated furry spaces, of which there are many.
	</p>
	<p>
		<Awoo:sitename/> is open to <strong>furries</strong> and <strong>furry&#x2010;adjacents</strong> of the following sort&#x202F;:&#x2060;—
	</p>
	<ul>
		<li>
			<p>
				<strong>Lesbians.</strong>
				We do not care why you are a lesbian, who you do (or don’t) have sex with, what your pronouns are, or what other labels you might use.
				We only care whether you consider yourself a lesbian and whether you are willing to be in community with other lesbians.
				If you do/are, you are welcome here.
			</p>
		</li>
		<li>
			<p>
				<strong>Fem(me)&#x2010;presenting people who were not assigned “female” at birth.</strong>
				There is a long history of fem(me)&#x2010;presenting amabs being attracted to other fem(me)&#x2010;presenting amabs in ways which range from “nominal gay men dating nominal gay men” to “t·4·t transbians”, and we’re not interested in litigating between them.
				Like·wise, we’re not interested in arguing whether relationships between cis women and fem(me)&#x2010;presenting non&#x2010;afabs are gay, straight, or lesbian.
				We’re calling them “close enough”, and noting that which·ever they are today, they might be some·thing different tomorrow.
			</p>
		</li>
	</ul>
	<p>
		If you fit either of the above criteria and would like to add yourself to the directory, simply <a href="https://codeberg.org/awoo/the.awoo.directory/pulls">make a pull request on Codeberg</a> or email <a href="https://www.ladys.computer/about/#lady">Lady</a>.
	</p>
	<p>
		<strong>Note:</strong>
		We are not interested in accepting social media websites or accounts into <Awoo:sitename/> at this time.
		We reserve the right to refuse to list websites that are hosted on platforms we ideologically oppose.
	</p>
	<aside>
		<h2>The Directory</h2>
		<p>
			The following are the personal home·pages of people in <Awoo:sitename/>&#x202F;:&#x2060;—
		</p>
		<书社:link xlink:href="about:shushe?include=directory.tsv" xlink:show="embed"/>
		<p>
			This directory is also <a href="/index.json">available as J·Son</a>.
		</p>
	</aside>
	<section>
		<h2>More Information</h2>
		<h3>Who is behind this?</h3>
		<p>
			The initial design and content for <Awoo:sitename/> was put together by <a href="https://www.ladys.computer/about/#lady">Lady</a>.
			<a href="https://æscling.cat.family/about/">æscling</a> manages the site’s hosting.
		</p>
		<h3>Why the name “Awoo”?</h3>
		<p>
			In addition to being a common furry saying, <i>awoo</i> was a popular meme among furries of this sort on the social network Mastodon in 2016–2017.
			<Awoo:sitename/> aims to recapture a bit of that scene, altho it does not claim any especial relation to Mastodon culture of the presentday.
		</p>
		<h3>How was this site made?</h3>
		<p>
			<a href="https://codeberg.org/awoo/the.awoo.directory">The source code for this site is available on Codeberg.</a>
			It is built automatically (via Codeberg webhooks) using <a href="https://git.ladys.computer/Shushe/">⛩️📰&#xA0;书社</a> as its general build mechanism.
			It is served using <a href="https://httpd-execline.cat.family/">httpd.execline</a>.
		</p>
		<h3>Is the directory moderated?</h3>
		<p>
			<Awoo:sitename/> is just a reference listing of websites, not a clout&#x2010;raising platform.
			Moderation is accordingly light.
			This said, if you see anything which you think threatens the integrity of the directory or the communities it serves, please do notify <a href="https://www.ladys.computer/about/#lady">Lady</a>.
		</p>
		<p>
			At some point in the future, we may host things on <Awoo:sitename/> in excess of the core listing.
			You can expect such things to have stricter expectations regarding conduct and appropriate behaviour.
			However, the project is still in its infancy, and there are a lot of details to work out.
		</p>
		<h3>Can I give you money?</h3>
		<p>
			You cannot!
			But you can support the services that the directory depends on to run; these include&#x202F;:&#x2060;— <a href="https://opencollective.com/libxml2"><code>libxml2</code> and <code>libxslt</code>,</a> which are used to build the site; and <a href="https://join.codeberg.org">Codeberg,</a> which hosts the source code.
		</p>
	</section>
</article>
